.main-menu a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.main-menu a:hover{
    color: aquamarine;
}

.main-menu *{
    display: flex;
    align-items: end;
    margin: .5em;
}